h1 {
  font-size: 70px;
  margin-bottom: 0;
}
h1,
.right.col-6 {
  font-family: "Wire One", sans-serif;
  padding-top: 10px;
}

h2 {
  font-family: "Chathura", sans-serif;
  font-size: 30px;
  padding-top: 0;
}
ul {
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 34px;
}

.header {
  padding-top: 5px;
  padding-bottom: 15px;
}
.container {
  margin: 25px auto;
  border-radius: 10px;
  background-image: linear-gradient(#145374 0%, #00334e 100%);
  padding: 25px 50px 25px 50px;
  text-align: center;
  color: #f6f5f5;
  width: 600px;
  height: 660px;
  font-family: "Advent Pro", sans-serif;
}
.today-temp {
  display: block;
  margin: 0 auto;
  background-color: #ee6f57;
  background-image: linear-gradient(#ee6f57 0%, #145374 100%);
  border-radius: 5px;
}

#celsius {
  color: #f6f5f5;
  text-decoration: none;
}
#celsius:hover {
  transition: 200ms all ease-in-out;
  opacity: none;
  text-decoration: none;
  color: #f6f5f5;
}
#fahrenheit {
  color: #f6f5f5;
  opacity: 0.4;
}
#fahrenheit:hover {
  transition: 200ms all ease-in-out;
  font-weight: bold;
  opacity: none;
  text-decoration: none;
  color: #f6f5f5;
}

#description {
  text-transform: uppercase;
  font-size: 45px;
}

.left.col-6 {
  text-align: right;
  font-size: 80px;
}
.right.col-6 {
  text-align: left;
  color: #f6f5f5;
  font-family: "Wire One", sans-serif;
  font-size: 60px;
  line-height: 50px;
}
.btn-toolbar {
  display: block;
}
.bg-light:hover {
  background-color: #ee6f57;
}
.card {
  background-image: linear-gradient(#145374 0%, #ee6f57 100%);
  border: none;
  color: #f6f5f5;
  height: 120px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}
.today-info {
  padding-top: 10px;
  padding-bottom: 0px;
}

.footer {
  margin-top: 20px;
}
.linkedin {
  text-decoration: underline;
  color: #f6f5f5;
}

.linkedin:hover {
  transition: 200ms all ease-in-out;
  font-weight: bold;
  opacity: 0.4;
  text-decoration: underline;
  color: #f6f5f5;
}
